:root {
    --primary-color: white;
    --secondary-color: #0e2d4b;
    --accent-color: #a4d1ff;
    --background-color: #060527;
    --font-family: 'Arial, sans-serif';
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--accent-color);
    margin: 10px;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 40px;
    border: var(--secondary-color) 2px solid;
    padding: 10px;
    border-radius: 10px;
}

header div {
    margin: 10px 0;
    border: var(--secondary-color) 2px solid;
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    color: var(--accent-color);
    background-color: var(--background-color);
    font-style: italic;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}
header p {
    display: inline-block;
    text-align: center;
    font-size: 20px;
    padding: auto;
}

input {
    padding: 10px;
    margin: 10px 2px;
    border: none;
    border-radius: 5px;
    width: 120px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

input::placeholder {
    color: var(--accent-color);
    font-style: italic;
}

h2 {
    margin-top: 20px;
}

button {
    padding: 5px;
    margin: 10px 2px;
    border: none;
    border-radius: 5px;
    background-color: var(--accent-color);
    color: var(--secondary-color);
    cursor: pointer;
    font-weight: bold;
}

.expense {
    border: var(--secondary-color) 2px solid;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
    background-color: var(--background-color);
}
.edit-btn {
    background-color: var(--primary-color);
    margin: 2px;
}
.delete-btn {
    background-color: var(--primary-color);
    margin: 2px;
}